*{margin:0 auto;padding:0;}
main{height: auto;}
.adjust-post{text-align: left; width: 90%;margin-top: 30px;}
.adjust-post > select {width: 130px;height:40px;font-size: 16px;padding-left: 10px;}
.adjust-post > div {width: 100%;margin-top: 20px;margin-bottom: 10px;}
.adjust-post > div > h2 {width:1070px;height: 30px;padding: 8px 0 0 10px;}
.adjust-post > div > textarea{width: 1050px;height:400px;font-size: 20px;padding: 20px;resize: none;border: 1px dotted;margin-top: 10px;}
.adjust-post button {width:80px;height:35px;padding-top: 3px;margin-bottom: 25px;float: right;margin-right: 40px;}
.adjust-post::after{content:"";clear: both;display: block;}