main{height: auto;}
/* main top */
.main-top{width:90%;height: 450px;display: block;position: relative;padding: 20px 15px;text-align: center;}
/* 게임 추천 */
.recommand-game{margin-top: 60px;width:600px;}
.bx-wrapper{width: 100%;height: 100%;border: 0;}
.bx-wrapper > *:nth-of-type(1) > ul > li{height: 360px;}
.bx-wrapper > *:nth-of-type(1) > ul > li:nth-child(2) > a:nth-child(1){text-indent: -99999px;height: 300px;display: block}
.bx-wrapper > *:nth-of-type(1) > ul > li:nth-child(3) > a:nth-child(1){text-indent: -99999px;height: 300px;display: block}
.bx-wrapper > *:nth-of-type(1) > ul > li:nth-child(4) > a:nth-child(1){text-indent: -99999px;height: 300px;display: block}
.bx-wrapper > *:nth-of-type(1) > ul > li:nth-child(5) > a:nth-child(1){text-indent: -99999px;height: 300px;display: block}
.bx-wrapper > *:nth-of-type(1) > ul > li > h2 > a:nth-child(1){display: block;float: left; padding-top: 15px;padding-left:  30px;}
.bx-wrapper > *:nth-of-type(1) > ul > li > h2 > a:nth-child(2){display: block;float: right;padding-top: 15px;padding-right: 30px;}

.bx-wrapper > *:nth-child(2) > *:first-child > *:nth-child(1)::before{content: "";clear: both;display: block;}
.bx-wrapper > *:nth-child(2) > *:first-child > *:nth-child(1){width: 100px;height: 300px;
position: absolute; background-image:none;top:16px;left: 0;}
.bx-wrapper > *:nth-child(2) > *:first-child > *:nth-child(2){width: 100px;height: 300px;
position: absolute; background-image:none;top:16px;right: 0;}


/* 메인 아래 */
.main-bottom::before{content:"";clear: both;display: block;position: relative;}
.main-bottom{width: 85%;height: auto;display: block; margin-top: 40px;position: relative;
    text-align: center;margin-bottom: 50px;
}
/* 게임 목록 */
.game__main{width:300px;display: inline-block;position: relative;height:280px;border:1px solid #222;border-collapse: collapse;margin: 15px;}
.game__main td, .game__main tr{width: 300px}
.game__main  *:nth-child(1) > td{width:100%;height:160px;padding:0;}
.game__main  *:nth-child(1) > td > a{width: 100%;height:100%; display: block;text-indent: -99999px;}
.game__main *:nth-child(2) > td > h2 {margin-top:15px;}
.game__main *:nth-child(3) > td > h2 {margin:15px 0;}
.game__main *:nth-child(3) > td > h2 >a {height: 30px;display: block;vertical-align: middle;}
 


/* .game__main{border: 1px solid #222;width: 30%; height: 40%;display: inline-block;position: relative;margin-top: 20px;} */


/* .middle-line{width: 100%; display:inline-block;position: relative;height: 30px;}
.game__main:nth-child(4n+2){margin: 0 30px;}
.game__main > a {width: 100%;display: block;}
.game__main > *:nth-child(1){height: 65%; background: url("../images/game1.jpg") no-repeat; background-size: cover; text-indent: -9999px;}
.game__main > *:nth-child(2){ text-align: center;top: 0;bottom: 0; right:0;left:0;position: relative;margin-top: 13px;}
.game__main > *:nth-child(3){ text-align: center; padding: 5px 0;margin-top: 5px;}
.game__main > h2 > a{font-size: 22px;}
 */