main{height: auto;display: inline-block;text-align: center;}
main form {margin-top:50px;margin-bottom :50px;}
table{width: 500px;}
tr td{border-bottom: 1px solid silver;padding-top: 10px;padding-bottom: 10px;}
tr > td:first-child{width: 30%;padding-left: 20px;}
tr > td:last-child{width: 50%;}
tr:last-child > td{border-bottom: none;}
tr:last-child > td button{margin-top:15px;}
tr:last-child > td >button:first-child{width: 170px;height: 50px;margin-right: 60px;}
tr:last-child > td >button:last-child{height: 50px;width: 130px;}
table input {padding:10px;}
table > tr:nth-child(6) input{width:100%}