main{height: auto;}
/* 회원가입 확인 */
.popup-regi-check{display: none;}
.bg-regi-check{position: fixed;left: 0;top: 0;background: #000;opacity: .7;}
.layer-regi-check{position: fixed;left: 0;right: 0;text-align: center; border: 1px solid #222;background: #f4f4f4;width: 280px;height: auto; }
.layer-regi-check > h2 {margin-top: 20px;margin-bottom: 20px;}
.layer-regi-check > button {margin-bottom: 20px;}

/* 메인 */
.regi-mem{text-align: center;width: 550px;margin-top: 60px;margin-bottom: 40px;}
.regi-mem > form > label{display: block;margin-bottom: 30px;font-size: 20px;text-align: right}
.regi-mem > form > label > input {padding: 10px;font-size: 20px;}
.regi-mem > form > label:nth-child(1) > input{margin-left: 80px;width: 320px;}

.regi-mem > form > label:nth-child(2) > input{margin-left: 70px;width: 320px;}

.regi-mem > form > label:nth-child(3) > input{margin-left: 45px;width: 320px;}

.regi-mem > form > label:nth-child(4) > input{margin-left: 90px;width: 320px;}

.regi-mem > form > label:nth-child(5) > input{margin-left: 80px;width: 320px;}

.regi-mem > form > label:nth-child(6) > input{margin-left: 70px;width: 320px;}

.regi-mem > form > label:nth-child(7) > input{margin-left: 60px;width: 320px;}
.regi-mem > form > label > [type="password"] {font-family:'Courier New', Courier, monospace}
.regi-mem > button{padding:10px;margin-top: 10px;}