main {height: auto;width: auto;}
main > div {text-align: center;width:50%;}
main > div > button{display: block;}
main > div > *:nth-child(1){margin-top: 50px;padding:10px;margin-bottom: 30px;}
main > div > div > *:nth-child(3){margin-bottom: 30px;margin-top: 10px;}

/* 구글 버튼 */
#customBtn2 {display: inline-block;background: white;color: #444;width: 220px;border-radius: 5px;
    border: thin solid #888;box-shadow: 1px 1px 1px grey;white-space: nowrap;margin-top: 10px}
#customBtn2:hover {cursor: pointer;}
span.label {font-family: serif;font-weight: normal;}
span.icon {background: url('https://google-developers.appspot.com/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
display: inline-block;vertical-align: middle; width: 42px;height: 42px;}
span.buttonText {display: inline-block;vertical-align: middle;
    font-size: 16px;font-weight: bold; margin-bottom: 6px;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
}