main{height: auto;}
table,td,th{border: 1px solid #222;}
table{border-collapse: collapse;margin-top: 50px;width: 90%;text-align: center;margin-bottom: 20px;}

table > thead > tr th{height: 40px;font-size: 20px;padding: 10px}
table > thead > tr > th:nth-child(1) > input {width: 15px;height: 15px;}
table > tbody > tr:nth-child(1) > td{height: 200px;}

table > tfoot > tr > td:first-child{padding: 10px;}
table > tfoot > tr > td:last-child{padding: 10px;text-align: right;padding-right: 30px;}

table > tbody > tr:nth-child(1) > td:nth-child(2){background: url("../images/game1.jpg") no-repeat 50% 50%;background-size: contain;}
table > tbody > tr:nth-child(1) > td:nth-child(1) > input{width: 15px;height: 15px;}
table > tbody > tr:nth-child(2) > td{text-align: left;height: 50px;}
table > tbody > tr:nth-child(2) > td > button{font-size: 12px;padding: 5px;margin-left: 15px;}
table > * > tr > *:nth-child(1) {width: 60px;font-size: 20px}
main > button:nth-of-type(1) {float: right;display: block;position: relative;margin-bottom: 30px;margin-right: 50px}
main > button:nth-of-type(1)::after{clear: both;content: "";display: inline;}
footer{clear: both;}